:root {
  --primary-color: #5b0b00;
  --primary-text: #0c0c0c;
  --secondary-color: #ee316b;
  --column-header: #366854;
  --third-color: #842d72;
  --spacing: 1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(#f9f7f1);
  margin: 0;
  padding: 3rem;
  padding-bottom: 0;
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.n-data-table .n-data-table-th {
  font-weight: bold;
  background-color: var(--column-header);
  color: white;
}
.n-card > .n-card-header .n-card-header__main {
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.duplicate-row {
  background-color: #ff4d4f !important;
  font-weight: bold;
  font-style: italic;
}

.n-data-table .n-data-table-td {
  background-color: transparent;
}

.custom-file-input {
  display: none;
}

.file-button-click {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
  border: 1px solid #cccccc;
  background-color: #70c0e8;
  border-radius: 10px;
  white-space: nowrap;
}
